.equipe-section{
    padding: 50px 0;
    width: 100%;
    min-height: 100vh;
    background: #FFFFFF;
}

.equipe-section .title-equipe{
    color: #1D1D39;
    font-size: 70px;    
    text-align: center;
    margin-bottom: 80px;
    font-family: 'Pixelify Sans', sans-serif;
}

.equipe-section .equipe-content{
    width: 85%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, auto));
    gap: 4rem;
    margin: 0 auto;
}

.equipe-section .equipe-content .pessoas{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0 0 2em #dedede;
}

.equipe-section .equipe-content .pessoas img{
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 100%;
}

.equipe-section .equipe-content .pessoas h1{
    margin-bottom: 5px;
}

.equipe-section .equipe-content .pessoas h3{
    margin-bottom: 10px;
}

.equipe-section .equipe-content .pessoas p{
    text-align: center;
    font-size: 12px;
    width: 90%;
}