.footer{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

.footer-img-insta{
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
}

.footer-img-insta img{
    width: 200px;
}

.footer-img-insta p{
    font-size: 14px;
    font-weight: 300;
    color: #1D1D39;
}

.content-rds i{
    margin: 0 5px;
    font-size: 22px;
    color: #1D1D39;
}