.games-content{
    margin: 0 auto;
    background: #1D1D39;
    padding: 50px 0;
    min-height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    color: #C1C2D9;
    font-size: 50px;    
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Pixelify Sans', sans-serif;
}

.jogos-content-inic{
    width: 80%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, auto));
    gap: 3rem;
}

.games{
    padding: 10px;
    color: #FFFFFF;
    background: #1D1D39;
    border: 1px solid #C1C2D9;
    box-shadow: 0 0 2em #000;
    border-radius: 7px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: .3s;
    max-width: 550px;
}

.games:hover{
    transform: scale(1.03);
}

.games img{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 2em #000;
}

.games p{
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;
    margin-bottom: 10px;
}

.games .genero-game{
    font-weight: 200;
    text-decoration: underline;
}

.games h2{
    font-weight: 200;
    font-size: 17px;
    margin-bottom: -5px;
    margin-top: 30px;
}

.games .vercao-game{
    position: absolute;
    bottom: -5px;
    right: 10px;
}