.games-pesq{
    min-height: 100vh;
    width: 100%;
}

.games-results{
    width: 80%;
    margin: 70px auto;
}

.title-results{
    margin-top: 50px;
    text-align: center;
    color: #C1C5D6;
    font-family: 'Pixelify Sans', sans-serif;
}

p{
    color: #C1C5D6;
}